/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-lug-2016, 0.12.08
    Author     : informatica
*/


body{
    padding: 1em 0 0 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    /*background-color: whitesmoke;*/
    background-color: #e3e3e3;
}

.container-signup{
    max-width: 38em;
    padding: 0em 3em 2em 3em;
    margin: 0em auto;
    background-color: #fff;
    border-radius: 16.2px;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

input:focus {
  outline: 0;
  border-color: black;
}

input:focus + .input-icon i {
  color: #7ed321;
}
input:focus + .input-icon:after {
  border-right-color: #7ed321;
}

.fgroup{
    margin-top: 5%;
    width: auto;
}
.finput-group{
    margin-top: 1.5%;
}

.input-right{
    
}

.buttons-bot{
    width: 80%;
    margin: auto;
    margin-top: 2%;
}

.btn-left, .btn-right{
    clear: both;
    display: inline;
    width: 45%;
}

.btn-left{
    margin-left: 10%;
}

.bt{
    width: 40%;
}

.fheader{
    font-weight: bold;
    color: #039ae5;
    font-size: 98%;
}

.header{
    color:#0a7199;
}

/*Page Categoria Funcionario*/

#cfcontainer{
    margin:auto;
    width: 90%;
    height: 600px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

#gfuncionarios, #departamentos{
    height: 93%;
}

#gfuncionarios{
    float: left;
    width: 69%;
}

#departamentos{
    float: right;
    width: 30%;
}

#gheader, #dheader{
    width: 100%;
    height: 10%;
}

#galeria, #deps{
    width: 100%;
    height: 86.5%;
}


#lista_itens, #lista_ditens{
    width: 100%;
    height: 100%;
    /*background-color: white;*/
    padding: 0;
    overflow-y: no-display;
    list-style: none;
}

.gitem{
    width: 19%;
    height: 25%;
    /*background-color: blueviolet;*/
    float: left;
    margin-left: 0.9%;
    margin-top: 1%;
    
}

.img{
    width: 100%;
    height: 75%;
    /*background-color: red;*/
}

.glabel{
    width: 92.5%;
    height: 25%;
    background-color: rgba(153, 153, 153, 0.8); 
    word-wrap: break-word;
    /*position: relative;*/
}

img{
    max-height: 130%;
    max-width: 100%;
}

#lista_ditens{
    width: 99%;
    height: 100%;
    margin: auto;
}

ul#lista_ditens > li{
    width: 80%;
    height: 8%;
    /*background-color: white;*/
    /*color: black;*/
}

.dlabel{
    /*margin-left: 2%;*/
    font-size: large;
}

.scrollbar
{
	float: left;
	height: 250px;
	width: 40px;
	/*background: #F5F5F5;*/
	overflow-y: scroll;
	margin-bottom: 25px;
}

#galeria::-webkit-scrollbar-track
{
	/*border: 1px solid black;*/
	background-color: silver;
}

#galeria::-webkit-scrollbar
{
	width: 6px;
	/*background-color: #F5F5F5;*/
}

#galeria::-webkit-scrollbar-thumb
{
	background-color: #204d74;	
}
/*

#galeria::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#galeria::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#galeria::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
        left bottom,
        left top,
        color-stop(0.44, rgb(122,153,217)),
        color-stop(0.72, rgb(73,125,189)),
        color-stop(0.86, rgb(28,58,148)));
}
*/
 ul#lista_ditens > li:hover{
    background-color: #204d74;
    color: white;
    cursor: pointer;
    /*transition-delay: 0.1s;*/
    transition: 1s;
    /*border-radius: 25px;*/
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
