/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-lug-2016, 0.12.08
    Author     : informatica
*/


body{
    padding: 1em;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    background-color: #e3e3e3;
}

.container-signup{
    max-width: 38em;
    padding: 0em 3em 2em 3em;
    margin: 0em auto;
    background-color: #fff;
    border-radius: 16.2px;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

input:focus {
  outline: 0;
  border-color: black;
}

input:focus + .input-icon i {
  color: #7ed321;
}
input:focus + .input-icon:after {
  border-right-color: #7ed321;
}

.fgroup{
    margin-top: 5%;
    width: auto;
}
.finput-group{
    margin-top: 1.5%;
}

.input-right{
    
}

.buttons-bot{
    width: 80%;
    margin: auto;
    margin-top: 2%;
}

.btn-left, .btn-right{
    clear: both;
    display: inline;
    width: 45%;
}

.btn-left{
    margin-left: 10%;
}

.bt{
    width: 40%;
}

.fheader{
    font-weight: bold;
    color: #039ae5;
    font-size: 98%;
}

.header{
    color:#0a7199;
}