/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3/fev/2017, 13:01:52
    Author     : Adelino Eduardo
*/

.list-group.panel > .list-group-item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}
.list-group-submenu {
  margin-left:20px;
}

/*** LEFT PANEL ***/

.leftpanel { width: 260px; color: #fff; float: left;  }

.leftmenu .nav-header {
	font-weight: normal; font-size: 11px; padding: 5px 20px; text-shadow: none; background: #eee;
	border-bottom: 1px solid #222; }
.leftmenu .nav-tabs.nav-stacked a { color: #999; padding: 10px 20px; font-size: 14px; }
.leftmenu .nav-tabs.nav-stacked a span { margin-right: 10px; }
.leftmenu .nav-tabs.nav-stacked > li > a { border: 0; border-bottom: 1px solid #232323; }
.leftmenu .nav-tabs.nav-stacked > li > a:hover,
.leftmenu .nav-tabs.nav-stacked > li > a:focus { background-color: #2c2c2c; color: #fff; border-bottom-color: #232323; }
.leftmenu .nav-tabs.nav-stacked > li.active > a { background-color: #0866c6; color: #fff; border-bottom-color: rgba(0,0,0,0.2); }
.leftmenu .nav-tabs.nav-stacked > li.active > a:hover { background-color: #0866c6; }
.leftmenu .nav-tabs > li { margin-bottom: 0; }


.leftmenu .nav-tabs.nav-stacked > li.dropdown ul { background: #eee; display: none; }
.leftmenu .nav-tabs.nav-stacked > li.dropdown ul li { border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; }
.leftmenu .nav-tabs.nav-stacked > li.dropdown > a {
	background-image: url(../images/droparrow.png); background-repeat: no-repeat; background-position: right 19px; }

.leftmenu .nav-tabs.nav-stacked .dropdown ul li a  {
	display: block; font-size: 13px; padding: 7px 10px 7px 50px; color: #333; background-position: 25px 12px;
	background-image: url(../images/menuarrow.png); background-repeat: no-repeat;  
}
.leftmenu .nav-tabs.nav-stacked .dropdown ul li.active a { background-color: #fff; }
.leftmenu .nav-tabs.nav-stacked .dropdown ul li a:hover { text-decoration: none; background-color: #fff; }
.leftmenu .nav-tabs.nav-stacked .dropdown ul ul li { border-right: 0; }
.leftmenu .nav-tabs.nav-stacked .dropdown ul ul li a { padding-left: 70px; background-position: 50px 12px; }
.leftmenu .nav-tabs.nav-stacked .dropdown ul ul li:first-child a { border-top: 1px solid #ddd; } 



